.alert-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group label {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  flex: 1;
  max-width: 120px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #009879;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007f67;
}

.additional-settings summary {
  font-weight: bold;
  cursor: pointer;
}

.additional-settings .form-group {
  margin-top: 10px;
}

.warning-tooltip {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.warning-tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}

.warning-tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%; /* Arrow at the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.warning-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 10px;
}
